.full{
    width: 50%;
    height: 60%;
    margin-left: 49%;
    margin-bottom: 2%;
   
    
  
}

.block1 img{
    width:60%;
    margin-left: 10%;
}

.block2 {
   margin-top: 10%;
   margin-bottom: 5%;
  
}
.block2 img{
    width:60%;
    margin-left: 35%;
}

.block1 p{
    font-family: 'georgia';
    text-align: center;
}
.block2 p{
    margin-right: -50%;
    font-family: 'georgia';
    text-align: center;
}