<app-navbarhomme></app-navbarhomme>
    <br>
    <br>
<div class="d-flex justify-content-center">
<img  src="../../assets/img/png.monster-63.webp" alt="" width="20%">
</div>
<div class="container">
    <iframe width="600" height="315" src="https://www.youtube.com/embed/ug1rchNVAOM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<div class="block1">
    <div class="row">
        <div class="col-md-8"><img src="../../assets/img/education.png" alt="" ></div>
        <div class="col-md-4 d-flex align-items-center">
            <p style="margin-left: -60%">Laravel is a free and open-source PHP web framework,[2] created by Taylor Otwell and intended for the development of web applications following the model–view–controller (MVC) architectural pattern and based on Symfony. Some of the features of Laravel are a modular packaging system with a dedicated dependency manager, different ways for accessing relational databases, utilities that aid in application deployment and maintenance, and its orientation toward syntactic sugar.[3][4]: 2, 5–9 [5][6]The source code of Laravel is hosted on GitHub and licensed under the terms of MIT License.[7]</p>
        </div>

</div>
</div>

<div class="block2">
    <div class="row">
        <div class="col-md-4 align-items-center">
            <p>Angular (communément appelé "Angular 2+" ou "Angular v2 et plus")2,3 est un framework côté client, open source, basé sur TypeScript, et codirigé par l'équipe du projet « Angular » à Google et par une communauté de particuliers et de sociétés. Angular est une réécriture complète d'AngularJS, cadriciel construit par la même équipe. Il permet la création d’applications Web et plus particulièrement d'applications web monopage : des applications web accessibles via une page web unique qui permet de fluidifier l’expérience utilisateur et d’éviter les chargements de pages à chaque nouvelle action. Le Framework est basé sur une architecture du type MVC et permet donc de séparer les données, le visuel et les actions pour une meilleure gestion des responsabilités. Un type d’architecture qui a largement fait ses preuves et qui permet une forte maintenabilité et une amélioration du travail collaboratif</p>
        </div>
        <div class="col-md-8">
            <img src="../../assets/img/block2.png" alt="">
        </div>
    </div>
</div>
</div>
<br>
<br><br><br><br>
<h1 style="margin-left: 49%;">Position</h1>


    
<div class="full" id="map" >

</div>



<app-footer></app-footer>